# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Flask
instance/
.webassets-cache

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema
meu_sistema_livraria/
uploads/
*.db
*.csv

# OS
.DS_Store
Thumbs.db
